@import "tailwindcss";

/* global.css */

@theme {
  --color-primary: #6754A4;
  --color-secondary: #9588C0;
  --color-lighter:"#FAF5FF";
  --bg-primary: #6754A4;
  --bg-secondary: #9588C0;
  --bg-lighter:"purple-50";

}

@font-face {
  font-family: "morebold";
  src: url("../../public/fonts/Epilogue-Black.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "primary";
  src: url("../../public/fonts/Epilogue-Medium.ttf") format("truetype");
  font-weight: normal;
}

.font-morebold {
  font-family: morebold;
}

.font-primary {
  font-family: primary;
}

body {
  font-family: primary;
}
